<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<p th:text="${errorMsg}" style="color:red; size:20px"></p>

<form action="/user" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="${user.username}"><br><br>

    <label for="email">Email:</label>
    <input id="email" th:field="${user.email}"><br><br>

    <label for="password1">Password:</label>
    <input type="password" id="password1" th:field="${user.password1}"><br><br>

    <label for="password2">Verify Password:</label>
    <input type="password" id="password2" th:field="${user.password2}"><br><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>